* {
    background: black;
    color: white;
    font-family: "Inter Nerd Font";
    font-weight: bold;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}
