[Container]
Image=ghcr.io/ergolyam/yggdrasil-go
ContainerName=ygg
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
Volume=/etc/yggdrasil-network:/etc/yggdrasil-network:z
Network=host

[Install]
WantedBy=default.target

