[Container]
Image=ghcr.io/grisha765/yggdrasil-go
ContainerName=ygg
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun
Volume=ygg-config:/etc/yggdrasil-network:z
Network=host

[Install]
WantedBy=default.target

