binds {
    mod+o     { toggle-overview; }
    mod+t     { spawn "ptyxis"; }
    alt+space { spawn "fuzzel"; }
    mod+h     { focus-column-left; }
    mod+i     { focus-column-right; }
    mod+n     { focus-workspace-down; }
    mod+e     { focus-workspace-up; }
    mod+left  { focus-column-left; }
    mod+right { focus-column-right; }
    mod+down  { focus-workspace-down; }
    mod+up    { focus-workspace-up; }
    mod+ctrl+h     { move-column-left; }
    mod+ctrl+i     { move-column-right; }
    mod+ctrl+n     { move-column-to-workspace-down; }
    mod+ctrl+e     { move-column-to-workspace-up; }
    mod+ctrl+left  { move-column-left; }
    mod+ctrl+right { move-column-right; }
    mod+ctrl+down  { move-column-to-workspace-down; }
    mod+ctrl+up    { move-column-to-workspace-up; }
    mod+minus       { set-column-width  "-10%"; }
    mod+equal       { set-column-width  "+10%"; }
    mod+shift+minus { set-window-height "-10%"; }
    mod+shift+equal { set-window-height "+10%"; }
    mod+ctrl+shift+down  { spawn "brightnessctl" "s" "10%-"; }
    mod+ctrl+shift+up    { spawn "brightnessctl" "s" "10%+"; }
    xf86audiolowervolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    xf86audioraisevolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    mod+shift+down       { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    mod+shift+up         { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    mod+s                { spawn "cp" ".config/niri/template.kdl" ".config/niri/eDP-1.kdl"; }
    mod+backspace { quit; }
    mod+space     { switch-layout "next"; }
    mod+q         { close-window; }
    mod+f         { maximize-column; }
    mod+ctrl+p    { screenshot-screen; }
    ctrl+print    { screenshot-screen; }
    alt+print     { screenshot-window; }
    mod+p         { screenshot; }
    print         { screenshot; }
}
