input {
    keyboard {
        xkb {
            layout "us,ru"
            variant "colemak,rulemak"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    trackpoint {}
}
output "DP-2" {
    scale 2
    mode "2560x1440@179.999"
}
output "eDP-1" {
    scale 1
}
output "DSI-1" {
    scale 2
    transform "270"
}
screenshot-path "~/files/Pictures/screenshots/%Y-%m-%d %H-%M-%S.png"
window-rule {
    open-maximized true
    tiled-state true
}
window-rule {
    match app-id="org.telegram.desktop"
    block-out-from "screencast"
}

binds {
    Mod+O     { toggle-overview; }
    Mod+T     { spawn "ptyxis"; }
    Alt+Space { spawn "fuzzel"; }
    Mod+H     { focus-column-left; }
    Mod+I     { focus-column-right; }
    Mod+N     { focus-workspace-down; }
    Mod+E     { focus-workspace-up; }
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down  { focus-workspace-down; }
    Mod+Up    { focus-workspace-up; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+I     { move-column-right; }
    Mod+Ctrl+N     { move-column-to-workspace-down; }
    Mod+Ctrl+E     { move-column-to-workspace-up; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Down  { move-column-to-workspace-down; }
    Mod+Ctrl+Up    { move-column-to-workspace-up; }
    Mod+Minus       { set-column-width  "-10%"; }
    Mod+Equal       { set-column-width  "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    mod+ctrl+shift+down  { spawn "brightnessctl" "s" "10%-"; }
    mod+ctrl+shift+up    { spawn "brightnessctl" "s" "10%+"; }
    xf86audiolowervolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    xf86audioraisevolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    mod+shift+down       { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    mod+shift+up         { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    mod+backspace { quit; }
    Mod+Space     { switch-layout "next"; }
    Mod+Q         { close-window; }
    Mod+F         { maximize-column; }
    mod+ctrl+p    { screenshot-screen; }
    ctrl+print    { screenshot-screen; }
    alt+print     { screenshot-window; }
    mod+p         { screenshot; }
    print         { screenshot; }
}
cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
}
hotkey-overlay {
    skip-at-startup
}

layout {
    gaps 0
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
    border {
        off
    }
    struts {}
}
