input {
    keyboard {
        xkb {
            layout "us,ru"
            variant "colemak,rulemak"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    trackpoint {}
}
output "eDP-1" {
     scale 1
}
output "DSI-1" {
    transform "270"
}
screenshot-path "~/files/screenshots/%Y-%m-%d %H-%M-%S.png"
window-rule {
    open-maximized true
}
binds {
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+T     { spawn "ptyxis"; }
    Mod+D     { spawn "fuzzel"; }
    Alt+Space { spawn "fuzzel"; }
    Mod+H     { focus-column-left; }
    Mod+I     { focus-column-right; }
    Mod+N     { focus-workspace-down; }
    Mod+E     { focus-workspace-up; }
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Down  { focus-workspace-down; }
    Mod+Up    { focus-workspace-up; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+I     { move-column-right; }
    Mod+Ctrl+N     { move-column-to-workspace-down; }
    Mod+Ctrl+E     { move-column-to-workspace-up; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Down  { move-column-to-workspace-down; }
    Mod+Ctrl+Up    { move-column-to-workspace-down; }
    Mod+Minus       { set-column-width  "-10%"; }
    Mod+Equal       { set-column-width  "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    mod+ctrl+shift+down  { spawn "brightnessctl" "s" "10%-"; }
    mod+ctrl+shift+up    { spawn "brightnessctl" "s" "10%+"; }
    xf86audiolowervolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    xf86audioraisevolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    mod+shift+down       { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    mod+shift+up         { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    mod+backspace { quit; }
    Mod+Space     { switch-layout "next"; }
    Mod+Q         { close-window; }
    Mod+F         { maximize-column; }
    mod+ctrl+p    { screenshot-screen; }
    ctrl+print    { screenshot-screen; }
    alt+print     { screenshot-window; }
    mod+p         { screenshot; }
    print         { screenshot; }
}
cursor {
    hide-when-typing
    hide-after-inactive-ms 1000
}
hotkey-overlay {
    skip-at-startup
}

layout {
    gaps 0
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }
    border {
        off
    }
    struts {}
}

