configuration {
    show-icons:         true;
    disable-history:    false;
    display-search:     "";
    display-drun:       "";
    kb-move-end:        "";
    kb-row-down:        "Down,Control+n";
    kb-row-up:          "Up,Control+e";
}

@theme "rounded-blue-dark.rasi"

