configuration {
    show-icons:         true;
    display-drun:       "";
    display-search:     "";
    disable-history:    false;
    kb-row-down:        "Down,n";
    kb-row-up:          "Up,e";
}

@theme "rounded-blue-dark.rasi"

