[Container]
Image=quay.io/gmanka/stream_recorder
Volume=/var/home/core/files/stream_recorder:/app/data:z
PodmanArgs=--tty

[Service]
Restart=on-failure

[Install]
WantedBy=default.target

